* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

:root {
  /* background colors */
  --bg-color: #FFFFFF;
  --bg-light-color: #FAFAFA;
  --bg-pink: #FFF2F3;

  /* text colors */
  --primary-text-color: #252B42;
  --secondary-text-color: #737373;
  --light-text-color: #FFFFFF;
  
  /* elements color */
  --primary-color: #96BB7C;
  --danger-color: #E74040;

  /* Layers */
  --layer-top: 100;
  --layer-middle: 50;
  --layer-bottom: 10;

}

body {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 700;
  background-color: var(--bg-light-color);
}

header {
  position: relative;
}

header::before {
  content: '';
  position: absolute;
  top: 75px;
  right: 0;
  background-color: var(--bg-pink);
  border-radius: 50px;
  width: 420px;
  height: 520px;
}

header::after {
  content: '';
  inset: 0;
  transform: translate3d(0, 30%, 0);
  position: absolute;
  background: 
  right /contain no-repeat url('../images/bg_girl.png'),
  98% 35% / 48% no-repeat url('../images/bg_empty_bubble.svg'),
  91% 54% / 45% no-repeat url('../images/bg_bubble.svg'),
  51% 19% / 50px no-repeat url("../images/bg_circle.svg");
  pointer-events: none;
}

a {
  text-decoration: none;
}

main {
  background-color: var(--bg-color);
  width: 100vw;
}

/* Components */
.button {
  padding: 1em 1.2em;
  border-radius: 5px;

  background-color: var(--primary-color);
  color: var(--light-text-color);
  cursor: pointer;
}

.center {
  width: calc(50vw + 197px);
  margin: auto;
}

/* Header */

/* Main Menu */
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}

.menu-brandname {
  color: var(--primary-text-color);
  font-size: 1.3rem;
}

.menu-links, .menu-buttons {
  display: flex;
  list-style: none;
  gap: 21px;
  align-items: center;
  margin-right: 80px;
}

.menu-link a {
  color: var(--secondary-text-color);
  transition: color .3s cubic-bezier(1,.52,0,.19);
}

.menu-link a:hover {
  color: var(--primary-text-color);
}

.menu-buttons {
  gap: 45px;
}

.menu-login {
  background-color: transparent;
  padding: 0;
}

.menu-login a {
  color: var(--primary-color);
}

.menu-join_us a {
  color: var(--light-text-color);
}

/* Introduce Section*/

.header-introduce {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 35px;
}

.header-introduce > * {
  width: 400px;
}

.introduce-join_us {
  color: var(--primary-color);
  font-size: 1.1rem;
}

.introduce-trust_message {
  word-break: keep-all;
  font-size: 2.5rem;
  color: var(--primary-text-color);
}

.introduce-small_message {
  color: var(--secondary-text-color);
  font-weight: 400;
}

.introduce-learn_more {
  border: solid 1px var(--primary-color);
  background-color: var(--light-text-color);
  color: var(--primary-color);
}

/* Introduce Cards */
.introduce-cards {
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--layer-middle);
  transform: translate3d(0, 115%, 0);
}

.introduce-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 2em;
  width: 31%;
  background-color: var(--bg-color);
  box-shadow: 0px 13px 19px #00000012;
}

.introduce-card-icon {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: var(--danger-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.introduce-card-icon svg {
  width: calc(inherit / 2);
  height: auto;
}

.introduce-card-title {
  font-size: 1.1rem;
  color: var(--primary-text-color);
}

.introduce-card-line {
  border: none;
  width: 50px;
  height: 2px;
  background-color: var(--danger-color);
}

.introduce-card-description {
  font-weight: 400;
  color: var(--secondary-text-color);
}

/* Banner Stats */
.banner_stats {
  margin: 30% auto;
  display: flex;
  justify-content: space-between;
}

.banner_stats-card {
  width: 25%;
  padding: 1em 0;
  color: var(--primary-color);
  font-size: 3rem;
  text-align: center;
}

.banner_stats-card p {
  font-size: .9rem;
  color: var(--primary-text-color);
}
