* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

:root {
  /* background colors */
  --bg-color: #FFFFFF;
  --bg-light-color: #FAFAFA;
  --bg-pink: #FFF2F3;

  /* text colors */
  --primary-text-color: #252B42;
  --secondary-text-color: #737373;
  --light-text-color: #FFFFFF;
  
  /* elements color */
  --primary-color: #96BB7C;
}

body {
  background-color: var(--bg-color);
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 700;
  width: calc(50vw + 197px);
  margin: auto;
}

header {
  position: relative;
}

header::before {
  content: '';
  position: absolute;
  top: 75px;
  right: 0;
  background-color: var(--bg-pink);
  border-radius: 50px;
  width: 420px;
  height: 520px;
  z-index: -1;
}

header::after {
  content: '';
  inset: 0;
  transform: translate3d(0, 30%, 0);
  position: absolute;
  border: solid 1px red;
  background: 
  right /contain no-repeat url('../images/bg_girl.png'),
  98% 35% / 48% no-repeat url('../images/bg_empty_bubble.svg'),
  91% 54% / 45% no-repeat url('../images/bg_bubble.svg'),
  51% 19% / 50px no-repeat url("../images/bg_circle.svg")
}

a {
  text-decoration: none;
}

/* Components */
.button {
  padding: 1em 1.2em;
  border-radius: 5px;

  background-color: var(--primary-color);
  color: var(--light-text-color);
}

/* Header */

/* Main Menu */
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}

.menu-brandname {
  color: var(--primary-text-color);
  font-size: 1.3rem;
}


.menu-links, .menu-buttons {
  display: flex;
  list-style: none;
  gap: 21px;
  align-items: center;
  margin-right: 80px;
}

.menu-link a {
  color: var(--secondary-text-color);
}


.menu-buttons {
  gap: 45px;
}

.menu-login {
  background-color: transparent;
  padding: 0;
}

.menu-login a {
  color: var(--primary-color);
}

.menu-join_us a {
  color: var(--light-text-color);
}

/* Introduce Section*/

.header-introduce {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 35px;
}

.header-introduce > * {
  width: 400px;
}

.introduce-join_us {
  color: var(--primary-color);
  font-size: 1.1rem;
}

.introduce-trust_message {
  word-break: keep-all;
  font-size: 2.5rem;
  color: var(--primary-text-color);
}

.introduce-small_message {
  color: var(--secondary-text-color);
  font-weight: 400;
}

.introduce-learn_more {
  border: solid 1px var(--primary-color);
  background-color: var(--light-text-color);
  color: var(--primary-color);
}